html, body {
    background: linear-gradient(rgb(201, 255, 255), rgb(87, 188, 255));
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0px;
    min-height: 100%;
    width: 100%;
}

div.container {
    padding-top: 100px;
    padding-bottom: 10px;
}

table {
    font-size:medium;
}

table > tr, th {
    vertical-align: middle;
}