/*
BED Assignment CA2
-   Name: Lee Quan Jun Ervin
-   Admin No: 2104005
-   Class: DISM/FT/2B/21
-   Filename: client/public/css/index.css
-   Description: Styles for index page of SP AIR
*/

div#index-div1 {
    padding-top: 150px;
}

div#index-div2 {
    margin: 50px 100px;
    padding: 40px;
}

html {
    overflow-y: hidden;
}