div.card#search-card {
    margin: auto;
    width: 100%;
    margin-top: 150px;
    height:100%;
    transform: scale(1.1)
}

section#search-results {
    background-color: rgba(255, 255, 255, 0.435);
    backdrop-filter: blur(10px);
}


