/*
BED Assignment CA2
-   Name: Lee Quan Jun Ervin
-   Admin No: 2104005
-   Class: DISM/FT/2B/21
-   Filename: client/public/css/signup.css
-   Description: Styles for signup page of SP AIR
*/

/* Image Styles */
img#logo {
    padding-top: 3rem;
    width: 25%;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}